<div>Welcome!  You are <%= current_user.name %> with email <%= current_user.email %>.</div>

<!-- <p>
<% current_user.authorizations.each do |authorization| %>
  <div>You can authenticate with <%= authorization.provider %>.</div>
<% end %>
</p>

 -->

 <p>
<%= current_user.admin ? 'You are an admin' : '' %>
</p>

<p>
<%= link_to "Log out", "/logout" %>
</p>