<p>The game is on <%= @game.start_time_in_zone.strftime("%A, %B %e") %>! Please arrive by <%= (@game.start_time_in_zone - 15.minutes).strftime('%l:%M %P') %> to receive your materials.
  <br />Start location: <br /><%= sanitize @game.start_location.gsub("\n", "<br />") %></p>

<h2><%= @team.formatted_name %></h2>
<%= form_tag(rename_team_path(id: @team.id), method: :post) do %>
  <%= text_field_tag :team_name %>
  <%= submit_tag 'Rename Team' %>
<% end %>

<p>Players:<ul>
  <% @team.users.each do |user| %>
  <li><%= user.name %></li>
  <% end %>
</ul>
</p>

<p>
  Invite a friend to join:
  
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your send button code -->
<div class="fb-send" 
  data-href=<%= join_team_url(team_id: @team.id) %>
  data-layout="button_count">
</div>
<br /><br /><%= link_to 'Email', "mailto:?subject=Join my team!&body=Hi! I'm playing in a photo scavenger hunt (#{@game.name}, on #{@game.start_time_in_zone.strftime("%A, %B %e")}) and want you to join my team, '#{@team.name}'! You can sign up and join my team at #{join_team_url(team_id: @team.id)}", class: 'btn btn-default' %>
</p>

<p>Leave the team:
  <br /><br /><%= link_to 'Leave', leave_team_path(game_id: @team.game.id), class: 'btn btn-default', data: { confirm: 'Are you sure?' } %></p>