<p>
  <h1><%= @game.name %></h1>
<ul>
<li>All photos are better with a team member in the photo.</li>
<li>You can only receive points once for each mission. Each photo can only be used to complete one mission.</li>
<li>All photos must be submitted by <%= @game.end_time_in_zone.strftime("%l:%M %P") %>. Any photos not received by then will not count.</li>
</ul>
</p>

<p>
<% if @filter_status == 'all' %>
  Currently showing all missions. <%= link_to 'Show only uncompleted.', play_path(game_id: @game.id), class: 'btn btn-default' %>
<% else %>
  Currently showing only uncompleted missions. <%= link_to 'Show all.', play_path(game_id: @game.id, filter_status: 'all'), class: 'btn btn-default' %>
<% end %>
</p>

<script>
function showUploading(mission_id) {
  source = $("#photo_mission_" + mission_id);
  source.replaceWith("<img src='https://i0.wp.com/cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif' /> Uploading...");
}
</script>

<p>Click on any mission to upload a photo to complete it. Your missions:
  <% @missions.each do |mission| %>
  <br /><br />
    <%= mission.codenum %>. <%= mission.name %> (<%= mission.points %>): <%= mission.description %>
    <%= form_with(model: Photo.new, local: true, id: "form_mission_#{mission.id}") do |form| %>
      <%= form.hidden_field :game_id, value: @game.id %>
      <%= form.hidden_field :mission_id, value: mission.id %>
      <%= form.file_field :photo, id: "photo_mission_#{mission.id}", type: "file", accept: "image/*;capture=camera", onchange: "this.form.submit(); showUploading(#{mission.id});" %>
      <%= form.submit "Upload Photo #{mission.codenum}", id: "submit_mission_#{mission.id}", style: "display:none" %>
    <% end %>
    <% (@photos_by_mission[mission.id] || []).each do |photo| %>

    <br /><%= link_to(image_tag(photo.photo.url(:thumb)), photo.photo.url) %>
    <% end %>
  <% end %>
</p>
