<div class="slideshow">
  <% @photos.each_with_index do |photo, i| %>
    <div>
      <center>
      <% if i == 0 %>
        <img src="<%= photo.photo.url(:slideshow) %>" alt="Photo <%= photo.id %>" />
      <% else %>
        <img data-lazy="<%= photo.photo.url(:slideshow) %>" alt="Photo <%= photo.id %>" />
      <% end %>
      <h3><%= photo.mission.codenum %>: <%= photo.mission.name %></h3>
      <br /><%= photo.team.name %>
      </center>
    </div>
  <% end %>
</div>
<script>
$(document).ready(function(){
  $('.slideshow').slick({
    dots: false,
    infinite: true,
    fade: true,
    cssEase: 'linear',
    lazyLoad: 'progressive',
    slidesToShow: 1,
    autoplay: true,
    autoplaySpeed: <%= Rails.env.development? ? 3000 : 5000 %>
  });
});


</script>
