<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=<%= Rails.env.development? ? 1000 : 5000 %>>
  <div class="carousel-inner">
    <% @photos.each_with_index do |photo, i| %>
    <div class="item<%= i==0 ? ' active' : '' %>">
      <img src="<%= photo.photo.url %>" alt="Photo <%= photo.id %>" />
      <div class="carousel-caption">
        <h3><%= photo.user.team(photo.game).name %></h3>
        <p><%= photo.mission.name %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
