<div class="slideshow">
  <% @photos.each_with_index do |photo, i| %>
    <div>
      <center>
      <a href='<%= photo.photo.url.gsub("%2F", "/") %>'>
        <img <%= i==0 ? "src" : "data-lazy" %>="<%= photo.photo.url(:slideshow) %>" width="<%= photo.slideshow_width(@max_width, @max_height) %>" height="<%= photo.slideshow_height(@max_width, @max_height) %>" alt="Photo <%= photo.id %>" />
      </a>
      <h3><%= photo.mission.codenum %>: <%= photo.mission.name %></h3>
      <br /><small><%= photo.mission.try(:description) %></small>
      <br /><%= photo.team.try(:name) %>
      </center>
    </div>
  <% end %>
</div>
<script>
$(document).ready(function(){
  $('.slideshow').slick({
    dots: false,
    infinite: true,
    fade: true,
    cssEase: 'linear',
    lazyLoad: 'progressive',
    slidesToShow: 1,
    autoplay: true,
    autoplaySpeed: <%= Rails.env.development? ? 1000 : 5000 %>
  });
});


</script>
