<div class="facebook_login">
<%= link_to "Connect With Facebook", "/auth/facebook" %>
</div>

<div class="google_login">
<%= link_to "Connect With Google", "/auth/google_oauth2" %>
</div>

<div class="password">
Sign in:
<br /><%= form_tag '/auth/identity/callback' do |f| %>
  <%= text_field_tag :auth_key %>
  <%= password_field_tag :password %>
  <%= submit_tag %>
<% end %>

<br />Or <%= link_to "create an account", "/auth/identity/register" %>.
</div>
