<%= form_for(@registration) do |form| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :game_id, :value => @registration.game_id %>

  Game: <%= @game.name %>

  <% if @game.is_admin?(current_user) %>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, @game.users, :id, :name, :prompt => 'Please select user') %>
  </div>
  <% end %>

  <% if @game.is_admin?(current_user) %>
    <div class="field">
      <%= form.label :team_id %>
      <%= form.collection_select(:team_id, @game.teams, :id, :name, :prompt => 'Please select team') %>
    </div>
  <% else %>
    <br />Team:
    <%= form.text_field :team_name %>
    <script>
      $('#membership_team_name').typeahead({
        name: 'membership_team_name',
        local: <%= @game.team_names.to_json.html_safe %>
      });
    </script>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
