<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  Game name:
  <%= f.text_field :name %>

  <div class="well">
    Starts at:
    <div class='input-group date' id='datetimepicker_starts_at'>
        <%= f.text_field :starts_at, 'data-format': "MM/dd/yyyy HH:mm:ss PP", class: 'form-control' %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>

  <div class="well">
    Ends at:
    <div class='input-group date' id='datetimepicker_ends_at'>
        <%= f.text_field :ends_at, 'data-format': "MM/dd/yyyy HH:mm:ss PP", class: 'form-control' %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      value="2017-05-14 21:45:00 UTC"
      $('#datetimepicker_starts_at').datetimepicker({
        'sideBySide': true
      });
      $('#datetimepicker_starts_at').data("DateTimePicker").defaultDate(moment($($('#datetimepicker_starts_at').children('input')[0]).attr('value')));
      $('#datetimepicker_ends_at').datetimepicker({
        'sideBySide': true
      });
      $('#datetimepicker_ends_at').data("DateTimePicker").defaultDate(moment($($('#datetimepicker_ends_at').children('input')[0]).attr('value')));
    });
  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
