<p id="notice"><%= notice %></p>

<%= @game.name %>

<br /><%= @game.teams.size %> teams.

<br /><%= @game.users.size %> players.

<br />Starts at: <%= @game.starts_at %>.

<% if @user.id == @game.organizer_id %>
<p><%= link_to 'Edit', edit_game_path(@game) %></p>
<% elsif @team %>
<p><%= link_to 'Edit Team Membership', edit_membership_path(@team) %></p>
<% else %>
...really, should just put the form right here -- let them join an existing team via drop-down or create a new team to join, boom
<p><%= link_to 'Join', new_membership_path(:game_id => @game.id) %></p>
<% end %>
