<h1>Photos</h1>

<% if @game.is_admin?(current_user) %>
<p><ul>
<li><%= link_to 'Review', admin_review_path(id: @game.id) %></li>
<li><%= link_to 'Rejected', rejected_path(id: @game.id) %></li>
<li><%= link_to 'Recent', recent_path(id: @game.id) %></li>
<li><%= link_to 'Missing Team', missing_path(game_id: @game.id) %></li>
</p></ul>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Mission</th>
      <th>Team</th>
      <th>Submitted At</th>
      <th>Rejected?</th>
      <th>Notes</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to(image_tag(photo.photo.url(:thumb)), photo.photo.url) %></td>
        <td><%= photo.mission.codenum %>: <%= photo.mission.name %></td>
        <td><%= photo.team.try(:name) %></td>
        <td><%= photo.submitted_at %></td>
        <td><%= photo.rejected ? 'X' : '' %></td>
        <td><%= photo.notes %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Accept', accept_photo_path(id: photo.id), method: :post %></td>
        <td><%= link_to 'Reject', reject_photo_path(id: photo.id), method: :post %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
