<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @photo.game.name %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @photo.mission.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.name %>
</p>

<p>
<%= image_tag @photo.photo.url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @photo.notes %>
</p>

<p>Reject photo?
<br /><%= form_tag(reject_photo_path) do %>
  <%= hidden_field_tag :id, @photo.id %>
  <%= text_field_tag :notes %>
  <%= submit_tag 'Reject' %>
<% end %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
