<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @photo.game.name %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @photo.mission.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.name %>
</p>

<p>
<%= image_tag @photo.photo.url %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @photo.notes %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
