<p>
  <strong>Game:</strong>
  <%= @photo.game.name %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @photo.mission.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.name %>
</p>

<p>
<%= link_to(image_tag(@photo.photo.url(:thumb).gsub("%2F", "/").gsub("%2F", "/")), @photo.photo.url.gsub("%2F", "/")) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @photo.notes %>
</p>

<p>Reject photo?
<br /><%= form_tag(reject_photo_path) do %>
  <%= hidden_field_tag :id, @photo.id %>
  <%= text_field_tag :notes %>
  <%= submit_tag 'Reject' %>
<% end %>
</p>

<p>Accept photo?
<br /><%= form_tag(accept_photo_path) do %>
  <%= hidden_field_tag :id, @photo.id %>
  <%= text_field_tag :notes %>
  <%= submit_tag 'Accept' %>
<% end %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
