<p><%= link_to 'Edit Missions', missions_path(game_id: @game.id) %></p>

<p>
To import missions, paste text into the box, with lines in the following format:
<br /><pre>((Mission name)): ((Mission description))</pre>
<br />or
<br /><pre>((Mission points)) ((Mission name)): ((Mission description))</pre>
</p>

<%= form_tag missions_import_path(game_id: @game.id) do |f| %>
<%= hidden_field_tag :id, @game.id %>
<%= text_area_tag :mission_list_text, nil, rows: 20, cols: 100 %>
<br /><%= submit_tag :import %>
<% end %>
<script>

$(function  () {
  $("ol.mission_list").sortable({'afterMove':
    function ($placeholder, container, $closestItemOrContainer) {

    }
  });
});
</script>