<p id="notice"><%= notice %></p>

<h1>Missions</h1>

<p><%= link_to 'Change order', missions_order_path(id: Game.default_game_id) %></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Codenum</th>
      <th>Name</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= image_tag mission.avatar.url(:thumb) %></td>
        <td><%= mission.codenum %></td>
        <td><%= mission.name %></td>
        <td><%= mission.points %></td>
        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
