<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Game:</strong>
  <%= @mission.game_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @mission.points %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @mission.priority %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @mission.avatar.url %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
