<p>
  <strong>Name:</strong>
  <%= @mission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Game:</strong>
  <%= @mission.game_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @mission.points %>
</p>

<p>
  <strong>Codenum:</strong>
  <%= @mission.codenum %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path(game_id: @game.id) %>
