<p>
  <strong>Name:</strong>
  <%= @mission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Game:</strong>
  <%= @mission.game_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @mission.points %>
</p>

<p>
  <strong>Codenum:</strong>
  <%= @mission.codenum %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @mission.avatar.present? ? image_tag(@mission.avatar.url) : ''  %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
