<% content_for :content do %>
  <% @game ||= nil %>
  <% if @game.try(:time_remaining) %>
  <div id="countdown">time remaining...</div>
    <script>
    function timedRefresh(timeoutPeriod) {
       var timer = setInterval(function() {
       if (timeoutPeriod > 0) {
           timeoutPeriod -= 1;
           document.getElementById("countdown").innerHTML = humanizeDuration(timeoutPeriod * 1000, { largest: 2 }) + " remaining...";
       } else {
           clearInterval(timer);
                // window.location.href = window.location.href;
                window.location.href ='/next_game';
           };
       }, 1000);
    };
    timedRefresh(<%= @game.time_remaining.round %>);
    </script>
  <% end %>
  <%= yield %>
<% end %>

<% if @game.is_admin?(current_user) && !@game.over? %>
<p><%= link_to 'Edit Game', edit_game_path(@game.id) %></p>
<p><%= link_to "Review Photos", admin_review_path(@game.id) %></p>
<% end %>

<%= render template: "layouts/application" %>
